<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571466275699-qa0uje4mc9998ot8gdnnfavjkmrhhm0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571466275699-qa0uje4mc9998ot8gdnnfavjkmrhhm0d</string>
	<key>API_KEY</key>
	<string>AIzaSyB2YZEsIVi0NFsGWneKMZO0sUvm5WJViI0</string>
	<key>GCM_SENDER_ID</key>
	<string>571466275699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.jamiewest.flutterExample</string>
	<key>PROJECT_ID</key>
	<string>extensions-flutter-example</string>
	<key>STORAGE_BUCKET</key>
	<string>extensions-flutter-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571466275699:ios:8861e0e3f4ee0b1bd20306</string>
</dict>
</plist>