name: Dart

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install dependencies (extensions)
        working-directory: ./packages/extensions
        run: dart pub get

      - name: Install dependencies (extensions_flutter)
        working-directory: ./packages/extensions_flutter
        run: flutter pub get

      - name: Run tests (extensions)
        working-directory: ./packages/extensions
        run: dart test --file-reporter json:../../test-results-extensions.json

      - name: Run tests (extensions_flutter)
        working-directory: ./packages/extensions_flutter
        run: flutter test --machine > ../../test-results-flutter.json

      - name: Report extensions tests
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Extensions Tests
          path: test-results-extensions.json
          reporter: dart-json

      - name: Report Flutter tests
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Flutter Tests
          path: test-results-flutter.json
          reporter: flutter-json
